{% extends 'books/base.html' %}
    {% block content %}

    <div class="container displaybook">
        <h4>Recent Book Reviews</h4>
        
        {% for rev in reviews %}
        <div class="review_box">
            <p><a href="/books/{{rev.book.id}}">{{ rev.book.title }}</a></p>
            <div class="subbox">
                <p>Rating: {{rev.rating}} * </p>
                <p><a href="/books/users/{{rev.user.id}}">{{ rev.user.first_name }}</a> says: {{ rev.review }} </p>
                <p>Posted on {{ rev.created_at|date:"N d, Y" }}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="container booktitle">
        <h4>Other Books with Reviews</h4>
        <div class="booklist">
            {% for bk in books %}
            <a href="/books/{{bk.id}}">{{bk.title}}</a>
            {% endfor %}
        </div>
    </div> <!-- -->

    {% endblock %}